<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

 <!-- 타입 별칭: 패키지명 생략 가능 -->
 <configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="com.app.entity"/>
    </typeAliases>
</configuration>

 <!-- 로그설정: 콘솔에 SQL 로그가 보임 -->
