<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="travelDestination_mapper">
	<select id="findTravelList" resultType="TravelDestination">
		SELECT * FROM T_TRAVEL_DESTINATION
	</select>
	
	<select id="findTravelById" resultType="TravelDestination" parameterType="int">
		SELECT * FROM T_TRAVEL_DESTINATION
		where id = #{travelId}
	</select>
	
	<select id="findTravelHPList" resultType="TravelDestination">
		SELECT * FROM T_TRAVEL_DESTINATION
		where type='여행지'
	</select>
	
	<select id="findTravelMJList" resultType="TravelDestination">
		SELECT * FROM T_TRAVEL_DESTINATION
		where type='맛집'
	</select>
	
	<select id="findTravelGSList" resultType="TravelDestination">
		SELECT * FROM T_TRAVEL_DESTINATION
		where type='숙소'
	</select>
	
</mapper>