<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.RegionMapper">

   
    <select id="selectAllRegions" resultType="com.app.dto.RegionDTO">
        SELECT REGION_ID as regionId, REGION_NAME as regionName FROM REGION
    </select>

    <!-- 원하는 쿼리를 여기에 추가 작성 -->

</mapper>
