<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mapper.TravelPlaceMapper">
    <select id="selectAll" resultType="com.app.dto.TravelPlaceDTO">
        SELECT * FROM TRAVEL_PLACE
    </select>
    <select id="selectById" parameterType="int" resultType="com.app.dto.TravelPlaceDTO">
        SELECT * FROM TRAVEL_PLACE WHERE PLACE_ID = #{placeId}
    </select>
    <insert id="insert" parameterType="com.app.dto.TravelPlaceDTO">
        INSERT INTO TRAVEL_PLACE (PLACE_ID, NAME, DESCRIPTION, LOCATION, LATITUDE, LONGITUDE, MAIN_IMAGE, STATUS, MODIFIED_AT)
        VALUES (#{placeId}, #{name}, #{description}, #{location}, #{latitude}, #{longitude}, #{mainImage}, #{status}, #{modifiedAt})
    </insert>
    <update id="update" parameterType="com.app.dto.TravelPlaceDTO">
        UPDATE TRAVEL_PLACE SET
          NAME = #{name},
          DESCRIPTION = #{description},
          LOCATION = #{location},
          LATITUDE = #{latitude},
          LONGITUDE = #{longitude},
          MAIN_IMAGE = #{mainImage},
          STATUS = #{status},
          MODIFIED_AT = #{modifiedAt}
        WHERE PLACE_ID = #{placeId}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM TRAVEL_PLACE WHERE PLACE_ID = #{placeId}
    </delete>
</mapper>