<?xml version="1.0" encoding="UTF-8"?>						
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"						
					"http://mybatis.org/dtd/mybatis-3-config.dtd">	


<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<!-- <typeAlias type="com.app.dto.room.Room" alias="Room" />  -->
		<typeAlias type="com.app.dto.community.CommunityPostDTO" alias="CommunityPost" />
		<typeAlias type="com.app.dto.community.MentionDTO" alias="Mention" />
		<typeAlias type="com.app.dto.community.CommentDTO" alias="Comment" />
		<typeAlias type="com.app.dto.community.TrendDTO" alias="Trend" />
		<typeAlias type="com.app.dto.community.UserDTO" alias="UserDTO" />
		<typeAlias type="com.app.dto.community.ChatRoomDTO" alias="ChatRoom" />
		<typeAlias type="com.app.dto.community.ChatMessageDTO" alias="ChatMessage" />
		<typeAlias type="com.app.dto.community.ChatParticipantDTO" alias="ChatParticipant" />
		<typeAlias type="com.app.dto.community.CommunityDTO" alias="Community" />
		<typeAlias type="com.app.dto.community.NotificationDTO" alias="Notification" />

		
		<typeAlias type="com.app.dto.travelDestination.TravelDestination" alias="TravelDestination" />
		<typeAlias type="com.app.dto.travelDestination.HashTags" alias="HashTags" />
		<typeAlias type="com.app.dto.travelDestination.TravelInfo" alias="TravelInfo" />
        <typeAlias alias="TravelArticle" type="com.app.dto.travel.TravelArticleDTO"/>
        <typeAlias alias="CommentDTO" type="com.app.dto.travel.CommentDTO"/>
        <typeAlias alias="FestivalDTO" type="com.app.dto.festival.FestivalDTO"/>
		<typeAlias type="com.app.dto.user.User" alias="User"/>
		<typeAlias type="com.app.dto.user.UserSearchCondition" alias="UserSearchCondition"/>
		<typeAlias type="com.app.dto.travelDestination.DetailComment" alias="DetailComment" />
	</typeAliases>

</configuration>
