<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias alias="TravelArticle" type="com.app.dto.travel.TravelArticleDTO"/>
        <typeAlias alias="CommentDTO" type="com.app.dto.travel.CommentDTO"/>
        <typeAlias alias="FestivalDTO" type="com.app.dto.festival.FestivalDTO"/>
    </typeAliases>
</configuration>